@{
    ViewData["Title"] = "Home Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- Content Header (Page header) -->
<section class="content-header">
    <h1>
        Top Navigation
        <small>Example 2.0</small>
    </h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
        <li><a href="#">Layout</a></li>
        <li class="active">Top Navigation</li>
    </ol>
</section>

<!-- Main content -->
<section class="content">
    <div class="callout callout-info">
        <h4>Tip!</h4>

        <p>            
            Adicione a classe layout-top-nav à tag body para obter esse layout. Esse recurso também 
            pode ser usado com uma barra lateral! Portanto, use esta classe se quiser remover os menus 
            suspensos personalizados da barra de navegação e usar links regulares.
        </p>
    </div>
    <div class="callout callout-danger">
        <h4>Warning!</h4>

        <p>
            A construção deste layout difere da normal. Em outras palavras, a marcação HTML da barra de 
            navegação e o conteúdo serão ligeiramente diferentes do layout normal.
        </p>
    </div>
    <div class="box box-default">
        <div class="box-header with-border">
            <h3 class="box-title">Caixa em branco</h3>
        </div>
        <div class="box-body">
            <p></p>
        </div>
        <!-- /.box-body -->
    </div>
    <!-- /.box -->
</section>
<!-- /.content -->