@model Sfe.Application.ViewModels.ControllersGperfil.ResetPasswordViewModel
@{
    ViewData["Title"] = "Reset password";
    Layout = "~/views/shared/_layoutadminlogin.cshtml";

}

    <form asp-controller="GperfilAccount" asp-action="ResetPassword" method="post">
        <div asp-validation-summary="All" class="text-danger"></div>
        <input asp-for="Code" type="hidden" />
        <input asp-for="userId" type="hidden" />

        <p class="login-box-msg">Redefinir Senha</p>
        <div class="form-group has-feedback">
            <input value="@ViewBag.EmailUser" class="form-control" readonly />
            <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
        </div>
        <div class="form-group has-feedback">
            <input autocomplete="off" asp-for="Password" class="form-control" placeholder="Senha" />
            <span asp-validation-for="Password" class="text-danger"></span>
            <span class="glyphicon glyphicon-lock form-control-feedback"></span>
        </div>
        <div class="form-group has-feedback">
            <input autocomplete="off" asp-for="ConfirmPassword" class="form-control" placeholder="Confirmar Senha" />
            <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
            <span class="glyphicon glyphicon-lock form-control-feedback"></span>
        </div>
        <div class="row">
            <!-- /.col -->
            <div class="col-xs-4">
                <button type="submit" class="btn btn-primary btn-block btn-flat">Redefinir</button>
            </div>
            <!-- /.col -->
        </div>
    </form>



@section Scripts {
    @{ await Html.RenderPartialAsync("_ScriptsPartialValidation"); }
}
