@{
    ViewData["Title"] = "Forgot your password?";
    Layout = "~/views/shared/_layoutemailconfirmation.cshtml";
}
<div class="lockscreen-logo">
    <a href="#"><b>Admin</b>Saed</a>
</div>
<div class="text-center">
    <div class="error-content">
        <h4><i class="fa fa-warning text-yellow"></i> Confirmação de redefinição de senha.</h4>
        <p>Sua senha foi redefinida com sucesso. </p>
        <p>Favor <a asp-controller="GperfilAccount" asp-action="Login">Clica aqui para efetuar login</a> </p>
    </div>
</div>
<div class="lockscreen-footer text-center">
    Copyright &copy; 2014-2016 <b><a href="#" class="text-black">Marcos Paulo</a></b><br>
    Todos os direitos reservados
</div>
